services:
  php:
    build:
      context: .
      dockerfile: ./infra/php/Dockerfile
    container_name: php
    ports:
      - "8000:8000"
      - "5173:5173"
    volumes:
      - ./php:/var/www/html
      - node_modules_volume:/var/www/html/node_modules
      - vendor_volume:/var/www/html/vendor
volumes:
  node_modules_volume:
    driver: local
  vendor_volume:
    driver: local